*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.main .navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .navbar .logo {
  width: 100px;
  cursor: pointer;
}
.main .content {
  color: #fbfcfd;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}
.main .content .small-description {
  font-size: 1.4rem;
}
.main .content h1 {
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
}
.main .side-bar {
  width: 50px;
  height: 100vh;
  background: linear-gradient(#00545d, #000729);
  position: absolute;
  right: 0;
  top: 0;
}
.main .side-bar .menu {
  display: block;
  width: 25px;
  margin: 40px auto 0;
  cursor: pointer;
}
.main .side-bar .social-links img,
.main .side-bar .useful-links img {
  width: 25px;
  margin: 5px auto;
  cursor: pointer;
}
.main .side-bar .social-links {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main .side-bar .useful-links {
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
.main .bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
.main .bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}
.main .bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.main .bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.main .bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.main .bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.main .bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.main .bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px;
}
.main .bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 35px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}